/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

body {
    color: whitesmoke;
    background-color: #d9b6e2;
    font-size: 30px;
    background-image: url(../img/fire_b.jpg);
}

.snowday {
    color: purple;
}

.snowangel {
    border: 10px solid white ;
}

.thursday-image {
    width: 20px;
}